@media screen and (min-width: 480px) and (max-width: 767px) {
    #flexbox {
        width: 561px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
    }
    aside {
        width: 561px;
        height: 162px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .icon-logo {
        width: 120px;
        height: 120px;
    }
    #a-side-menu {
        font-family: 'Arial';
        font-style: italic;
        font-weight: 400;
        font-size: 14px;
        color: #34ACA7;
        line-height: 14px;
        width: 561px;
        height: 162px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        & img {
            display: none;
        };
        & button {
            font-family: 'Arial';
            font-style: italic;
            font-weight: 400;
            font-size: 14px;
            line-height: 14px;
            color: #34ACA7;
            background: #FFFFFF;
            padding: 0;
            border: 0;
            width: fit-content;
            height: fit-content;
        };
    }
    #tweet {
        display: none;
    }
    #friends {
        display: none;
    }
    #weekly-funds {
        display: none;
    }
    .btn-tweet {
        & form {
            display: none;
        };
    }
    #baner {
        background: url("/img/baner.png") #fff no-repeat;
        height: 91px;
        width: 545px;
        padding-top: 287px;
        margin: 0;
        & h1 {
            width: 535px;
            height: 49px;
            margin: 0;
            background: #FFFFFF;
            font-family: 'Arial';
            font-style: italic;
            font-weight: 400;
            font-size: 22px;
            line-height: 22px;
            opacity: 0.6;
            padding-left: 10px;
            display: flex;
            align-items: center;
            justify-content: baseline;
            letter-spacing: 0.01em;
            color: #000000;
        };
        & h2 {
            width: 521px;
            height: 42px;
            margin: 0;
            background: #000000;
            font-family: 'Arial';
            font-style: italic;
            font-weight: 400;
            font-size: 14px;
            line-height: 14px;
            padding-left: 24px;
            display: flex;
            align-items: center;
            color: #FFFFFF;
        };
    }
    main {
        height: 1210px;
        margin-bottom: 20px;
    }
    #btn-main {
        display: none;
    }
    #subscribe {
        width: 545px;
        height: 96px;
        display: flex;
        flex-wrap: wrap;
        margin-top: 39px;
        margin-bottom: 26px;
        border-top: 1px dashed #E5E5E5;
        border-bottom: 1px dashed #E5E5E5;
        align-items: center;
        justify-content: space-around;
        font-family: 'Arial';
        font-style: italic;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #000000;
        & .mail-icon {
            width: 32px;
            height: 26px;
        };
        & span {
            width: 471px;
            height: fit-content;
        };
        & input {
            width: 420px;
            height: 22px;
            background: #FFFFFF;
            border: 1px solid #E5E5E5;
            box-sizing: border-box;
            font-family: 'Arial';
            color: #E5E5E5;
            font-style: normal;
            font-weight: 400;
            font-size: 10px;
            line-height: 10px;
        };
        & button {
            width: 80px;
            height: 23px;
            font-family: 'Arial';
            font-style: normal;
            font-weight: 400;
            font-size: 10px;
            line-height: 10px;
            text-align: center;
            color: #000000;
            background: linear-gradient(180deg, #F4F3F3 0%, #BBB9B9 100%);
            border: 1px solid #E5E5E5;
            box-sizing: border-box;
            border-radius: 2px;
        };
    }
    #content {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
    }
    .cards {
        width: 256px;
        height: 337px;
        display: flex;
        flex-flow: column nowrap;
        & .beginning {
            font-family: 'Arial';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 21px;
            letter-spacing: -0.02em;
            color: #34ACA7;
            text-decoration: none;
            height: fit-content;
        };
        & p {
            font-family: 'Arial';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: -0.02em;
            color: #000000;
            height: 135px;
            align-self: flex-start;
        };
        & span {
            font-family: 'Arial';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: -0.02em;
            color: #E5E5E5;
            width: 90px;
            height: fit-content;
        };
        & .continue {
            font-family: 'Arial';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: -0.02em;
            color: #34ACA7;
            text-decoration: none;
            width: 44px;
            height: 20px;
        };
        &-img {
            width: 256px;
            height: 150px;
            border: 11px solid #FFFFFF;
            outline: 1px solid #E5E5E5;
            box-sizing: border-box;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 13px;
            & img {
                min-width: 100%;
                min-height: 100%;
            };
        };
    }
    footer {
        width: 560px;
        height: 78px;
        margin-left: auto;
        margin-right: auto;
        background-color: #FFFFFF;
        border-top: 2px solid #E5E5E5;
        display: flex;
        justify-content: space-between;
        & a {
            font-family: 'Arial';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 12px;
            letter-spacing: -0.02em;
            color: #34ACA7;
            text-decoration: none;
        };
        & span {
            font-family: 'Arial';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 12px;
            letter-spacing: -0.02em;
            color: #E5E5E5;
        };
    }
    #footer {
        &-text {
            display: flex;
            align-self: center;
            flex-flow: column wrap;
        };
        &-img {
            display: flex;
            align-self: center;
            & img {
                width: 32px;
                height: 32px;
            };
        };
    }
}